<div {{bind-attr class=":log levelClass"}} {{action 'toggle'}}>
	<div class="log-name">{{log.name}}</div>
	<div class="log-date">{{log.date_string}}</div>
	{{#if derivedDescription}}<div class="log-description">{{derivedDescription}}</div>{{/if}}
	{{#if expanded}}
		<div class="log-other">
			<pre>{{otherInfo}}</pre>
		</div>
	{{/if}}
</div>
